.wrapper {
  width: 98%;
  margin: 100px auto 0 auto;
}

h2 {
  text-align: right;
  font-family: 'philosopher', sans-serif;
  background: #ffffff;
}

h1, h5, h6, .card-header {
  font-family: 'philosopher', sans-serif;
}

.card-header {
  font-size: 18px;
}

p, .card-link, form, a {
  font-family: 'Montserrat', sans-serif;
}

.card {
  margin-bottom: 20px !important;
}

.line {
  margin-top: -13px;
  background-color:  rgb(152, 231, 231);
  height: 3px;
  border-radius: 20px 0px;
}
